body{
  font-family: sans-serif;
  background-color: lightblue;
}h1,h2,h3,h4,h5,h6{
  font-weight: 800;
  font-size: 30px;
  background-color:
  padding: 3rem;
}a{
  color: black;
  text-decoration: none;
}a.navbar{
  font-size: 30px;
  font-weight: 400;
}a:hover{
  color: #f0f0f0
}.stepoff{
  position: fixed;
  top: 22px;
  left: 17rem;
  min-height: 97vh;
  max-height: 97vh;
  width: 100%;
  max-width: 78%;
  border-left: .5px solid lightgray;
}#home,#report,#pending,#completed,#status,#inventory{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}.navbar{
  font-size: 30px;
  border-top: .25px solid lightgray;
  border-bottom: .25px solid lightgray;
  background-color: lightblue;
  padding-top: 5px;
  padding-bottom: 5px;
}.innernav{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 25px;
  background-color: lightblue;
  border-bottom: .25px solid lightgray;
}.innernav-blank{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 29px;
  font-size: 25px;
  background-color: lightblue;
  border-bottom: .25px solid lightgray;
}.innerbody{
  overflow: auto !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 82vh;
  background-color: white;
}.sidebar{
  top: 20px;
  left: 1rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 16rem;
  height: 95%;
}.recent{
  padding-left: ;
  padding-right: ;
  padding-top: 1px;
  padding-bottom: ;
  height: inherit;
  background-color: white;
  border: .25px solid lightgray;
}.recent-heading{
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  padding-top: ;
  padding-bottom: 1px;
}.inventory-table{
  padding-top: 25px;
  position: absolute;
  left: : 0px;
  max-width: 100%;
  width: 97%;
  height: 79vh;
  overflow: auto;
}table{
  width: 100%;
}th{
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-top: 1px solid lightgray;
}td{
  text-align: left;
  font-size: 15px;
  padding-top: 5px;
}#submitbutton{
  position: absolute;
  right: 0;
  bottom: 0;
}.reporttab{
  background-color: yellow;
  height: 75vh;
  display: flex;
}.rep{
  display: flex;
  position: fixed;
  left: 20rem;
  top: 8rem;
}
