body{
  font-family: sans-serif;
  background-color: lightblue;
}h1,h2,h3,h4,h5,h6{
  font-weight: 800;
  font-size: 30px;
  background-color:
  padding: 3rem;
}a{
  color: black;
  text-decoration: none;
}a.navbar{
  font-size: 30px;
  font-weight: 400;
}a:hover{
  color: #f0f0f0
}.stepoff{
  position: fixed;
  top: 22px;
  left: 17rem;
  min-height: 100vh;
  width: 100%;
  max-width: 78%;
  border-left: .5px solid lightgray;
}#home,#report,#pending,#completed,#status,#inventory{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}.navbar{
  font-size: 30px;
  border-top: .25px solid lightgray;
  border-bottom: .25px solid lightgray;
  background-color: lightblue;
  padding-top: 5px;
  padding-bottom: 5px;
}.innernav{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 25px;
  background-color: lightblue;
  border-bottom: .25px solid lightgray;
}.innerbody{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100vh;
  background-color: white;
}.sidebar{
  top: 20px;
  left: 1rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 16rem;
  height: 100vh;
}.recent{
  padding-left: ;
  padding-right: ;
  padding-top: 1px;
  padding-bottom: ;
  height: inherit;
  background-color: white;
  border: .25px solid lightgray;
}.recent-heading{
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  padding-top: ;
  padding-bottom: 1px;
}.inventory-table{
  position: absolute;
  top: ;
  right: 0px;
}
